@model YourApplication.Models.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<p>Product ID: @Model.Product.Id</p>
<p>Product Name: @Model.Product.Name</p>
<p>Product Price: @Model.Product.Price</p>

<p>Display Message: @Model.DisplayMessage</p>
